*.py[co]

# Package Management
*.egg
*.egg-info
dist
build
eggs
.eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
.cache
htmlcov
coverage.xml

# Translations
*.mo

# Mac
.DS_Store

# Vim
.ropeproject
