language: python
sudo: false

python:
  - pypy
  - pypy3
  - "2.6"
  - "2.7"
  - "3.3"
  - "3.4"
  - "3.5"

env:
  - ACCELERATED=0
  - ACCELERATED=1

install: travis_retry .travis/install.sh

script: .travis/run.sh

notifications:
  irc:
    channels:
      - 'irc.freenode.org#webcore'
    use_notice: true
    skip_join: true

after_success:
  - coveralls
